force-app/main/default-backup/flows/Update_Account_CBLC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Active_CBLC</name>
        <label>Active CBLC ?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoActiveCBLC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActiveCBLCName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Account_0</targetReference>
            </connector>
            <label>No Active CBLC</label>
        </rules>
    </decisions>
    <interviewLabel>Update Account CBLC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account CBLC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Siblings</name>
        <label>Get Siblings</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_CBLC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agr_AccountId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agr_AccountId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agr_IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativado</stringValue>
            </value>
        </filters>
        <object>Agr_CBLC__c</object>
        <outputAssignments>
            <assignToReference>ParentAccountId</assignToReference>
            <field>Agr_AccountId__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ActiveCBLCName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Account_0</name>
        <label>Update Parent Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agr_AccountId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agr_CBLCActive__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Account_0_0</name>
        <label>Update Parent Account</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agr_AccountId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agr_CBLCActive__c</field>
            <value>
                <elementReference>ActiveCBLCName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Siblings</targetReference>
        </connector>
        <object>Agr_CBLC__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveCBLCName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
